<br/>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <div class="btn-group">
                    &nbsp;&nbsp;Search by: &nbsp;&nbsp;
                <button type="button" class="btn btn-secondary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedCategory}}
                    </button>
              
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="categoryChange('name')" [ngClass]="selectedCategory=='name'?'active':''">Name</a>
                    <a class="dropdown-item" (click)="categoryChange('gender')" [ngClass]="selectedCategory=='gender'?'active':''">Gender</a>
                    <a class="dropdown-item" (click)="categoryChange('race')" [ngClass]="selectedCategory=='race'?'active':''">Race</a>
                    <a class="dropdown-item" (click)="categoryChange('publisher')" [ngClass]="selectedCategory=='publisher'?'active':''">Publisher</a>
                </div>
            </div>
            <br/>
            <br/>
            <div *ngIf="selectedCategory=='name'">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" value="searchValue" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchValue" (input)="onSearchChange()">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div *ngIf="selectedCategory=='gender'">
                <div class="btn-group">
                     <button type="button" class="btn btn-secondary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedGender}}
                    </button>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="genderChange('Female')" [ngClass]="selectedGender=='Female'?'active':''">Female</a>
                        <a class="dropdown-item" (click)="genderChange('Male')" [ngClass]="selectedGender=='Male'?'active':''">Male</a>
                        <a class="dropdown-item" (click)="genderChange('Others')" [ngClass]="selectedGender=='Others'?'active':''">Others</a>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedCategory=='race'">
                <div class="btn-group">
                        <button type="button" class="btn btn-secondary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedRace}}
                    </button>
                    
                    <div class="dropdown-menu">
                        <div *ngFor="let _race of race;let i">
                            <a class="dropdown-item" (click)="raceChange(_race)" [ngClass]="selectedRace==_race?'active':''">{{_race}}</a>
                        </div>
                     </div>
                </div>
            </div>
            <div *ngIf="selectedCategory=='publisher'">
                <div class="btn-group">
                        <button type="button" class="btn btn-secondary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedPublisher}}
                    </button>
                    
                    <div class="dropdown-menu">
                        <div *ngFor="let _publisher of publisher;let i">
                            <a class="dropdown-item" (click)="publisherChange(_publisher)" [ngClass]="selectedPublisher==_publisher?'active':''">{{_publisher}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="searchValue != '';">
        <div *ngIf="filteredHeroes.length > 0">
            <h4>Search Result of "{{searchValue}}" are:</h4>
        </div>
        <div *ngIf="filteredHeroes.length == 0">
            <h4>No Heroes Found for "{{searchValue}}"</h4>
        </div>
    </div>
    <br/>
    <div class="row">
        <div *ngFor="let hero of filteredHeroes;let i;" class="col-4">
            <div class="card" style="width: 18rem;">
                <p class="card-text">{{hero.name}}</p>
                <div class="card-body">
                    <img class="card-img-top" *ngIf="!isImgLoaded[i]" src="./assets/images/preload.gif" alt="imgload">
                    <img class="card-img-top" [hidden]="!isImgLoaded[i]" [src]="hero.images.sm" (load)="isImgLoaded[i] = true;">
                </div>
                <button (click)="showHero(hero)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: #09c !important;">
                    Know more
                </button>
            </div>
            <br />
        </div>
    </div>

    <!-- The Modal -->
    <div *ngIf="modalShow" class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{heroSelected.name}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-body">
                                    <img class="card-img-top" src="{{heroSelected.images.lg}}" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a id="appearanceId" data-toggle="tab" href="#appearance">Appearance</a>
                                    </li>&nbsp;&nbsp;
                                    <li>
                                        <a data-toggle="tab" href="#biography">Biography</a>
                                    </li>&nbsp;&nbsp;
                                    <li>
                                        <a data-toggle="tab" href="#connections">Connections</a>
                                    </li>&nbsp;&nbsp;
                                    <li>
                                        <a data-toggle="tab" href="#powerstats">Powerstats</a>
                                    </li>&nbsp;&nbsp;
                                    <li>
                                        <a data-toggle="tab" href="#work">Work</a>
                                    </li>
                                </ul>
                                <br/>
                                <div class="container tab-content">
                                    <div id="appearance" class="tab-pane fade in active">
                                        <h5>Gender:
                                            <span>{{heroSelected.appearance.gender}}</span>
                                        </h5>
                                        <h5>Race:
                                            <span>{{heroSelected.appearance.race}}</span>
                                        </h5>
                                        <h5>Height:
                                            <span>{{heroSelected.appearance.height}}</span>
                                        </h5>
                                        <h5>Weight:
                                            <span>{{heroSelected.appearance.weight}}</span>
                                        </h5>
                                        <h5>EyeColor:
                                            <span>{{heroSelected.appearance.eyeColor}}</span>
                                        </h5>
                                        <h5>HairColor:
                                            <span>{{heroSelected.appearance.hairColor}}</span>
                                        </h5>
                                    </div>
                                    <div id="biography" class="tab-pane fade">
                                        <h5>Full Name:
                                            <span>{{heroSelected.biography.fullName}}</span>
                                        </h5>
                                        <h5>Alter Egos:
                                            <span>{{heroSelected.biography.alterEgos}}</span>
                                        </h5>
                                        <h5>Aliases:
                                            <span>{{heroSelected.biography.aliases}}</span>
                                        </h5>
                                        <h5>Place Of Birth:
                                            <span>{{heroSelected.biography.placeOfBirth}}</span>
                                        </h5>
                                        <h5>First Appearance:
                                            <span>{{heroSelected.biography.firstAppearance}}</span>
                                        </h5>
                                        <h5>Publisher:
                                            <span>{{heroSelected.biography.publisher}}</span>
                                        </h5>
                                        <h5>Alignment:
                                            <span>{{heroSelected.biography.alignment}}</span>
                                        </h5>
                                    </div>
                                    <div id="connections" class="tab-pane fade">
                                        <h5>Group Affiliation:
                                            <span>{{heroSelected.connections.groupAffiliation}}</span>
                                        </h5>
                                        <h5>Relatives:
                                            <span>{{heroSelected.connections.relatives}}</span>
                                        </h5>
                                    </div>
                                    <div id="powerstats" class="tab-pane fade">
                                        <h5>Intelligence:
                                            <span>{{heroSelected.powerstats.intelligence}}</span>
                                        </h5>
                                        <h5>Strength:
                                            <span>{{heroSelected.powerstats.strength}}</span>
                                        </h5>
                                        <h5>Speed:
                                            <span>{{heroSelected.powerstats.speed}}</span>
                                        </h5>
                                        <h5>Durability:
                                            <span>{{heroSelected.powerstats.durability}}</span>
                                        </h5>
                                        <h5>Power:
                                            <span>{{heroSelected.powerstats.power}}</span>
                                        </h5>
                                        <h5>Combat:
                                            <span>{{heroSelected.powerstats.combat}}</span>
                                        </h5>
                                    </div>
                                    <div id="work" class="tab-pane fade">
                                        <h5>Occupation:
                                            <span>{{heroSelected.work.occupation}}</span>
                                        </h5>
                                        <h5>Base:
                                            <span>{{heroSelected.work.base}}</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>