<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #09c !important;">
      <a class="navbar-brand" href="/">Super Hero App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Universe </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/search">Search Hero</a>
            </li>
        </ul>
      </div>
    </nav>
  </div>